

//colors
$color_storm_dust_approx:  		#646464;
$color_gallery_approx: 			#eeeeee;
$color_mine_shaft_approx: 		#333333;
$color_mountain_mist_approx: 	#999999;
$color_puerto_rico_approx: 		#2ebaae;
$white: 						#ffffff;
$black:							#000000;
$gray:							#888888;
$color_razzmatazz_approx: 		#e91e63;
$color_milano_red:				#c82606;
$color_fuscous_gray:			#4f4e4d;
$color_natural_gray:			#959391;
$color_timberwolf:				#D9D5D0;
$color_barley_corn:				#A69364;
$color_nobel:					#b7b7b7;
// Shawn Mendes Specific
$color_cod_gray:				#1d1d1d;
$color_shakespeare:				#4090ca;
$color_dusty_gray:				#999999;


$color-map: (
	site-default: (
		color: 		$white,
		bg-color: 	$color_cod_gray		
	),
	button-default: (
		color: 				$white,
		bg-color: 		$color_shakespeare, 
		hover-color:	$color_shakespeare
	),
	button-sizeSelection: (
		color: 				#ffffff,
		bg-color: 		$color_shakespeare,
		hover-color:	$color_shakespeare
	),
	button-navigation: (
		color: 		$white,
		bg-color: 	$color_shakespeare
	),
	accordion-label: (
		color: 		$white,
		bg-color: 	$color_dusty_gray
	),	
	input-default: (
		color: 		$black,
		bg-color: 	$color_dusty_gray
	),
	link: (
		hover-color: $color_shakespeare
	)	
);

$font-map: (
	acoordion-label: (
		font-size: 1.125rem,
		line-height: 3rem,
		font-weight: 400,
		letter-spacing: .1em
	)
);


$misc: (
	z-index-base:	10000
);

// Duration.
$duration: (
	menu:				0.5s,
	transition:	0.2s
);

// Size.
$size: (
	site-min-width:					20rem,
	element-height:					2.75em,
	element-margin:					2em,
	section-spacing:				3em,
	section-spacing-small:			.5em,
	menu:							25em
);

// Font.
$font: (
	family:					('TMSans-Regular', Helvetica, Arial, sans-serif),
	site-base: 			16px,
	weight:				300,
	weight-heading:		700,
	weight-bold:		700,
	line-height:		1.75
);

$font-size: (
	site-default: 1.25rem,
	header-text: 	1.5rem,
	body-text: 		1.25rem,
	body-text-sm:	.8rem,
	footer-text:	.7rem,
	button-text:	1.4rem
);

// Palette.
$palette: (
  background: 		#f4f4f4,  
  site-default:		#646464, 
	bg-alt:					#f4f4f4, 
	fg:							#646464,
	fg-bold:				#3c3b3b,
	fg-light:				#aaaaaa,
	border:					rgba(160,160,160,0.3),
	border-bg:			rgba(160,160,160,0.075),
	border-alt:			rgba(160,160,160,0.65),
	accent:					#2ebaae
);

// Fonts
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
		

@font-face {
    font-family: 'TMSans-Regular';
    src: url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Regular.woff2') format('woff2'),
         url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TMSans-SemiBold';
    src: url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-SemiBold.woff2') format('woff2'),
         url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TMSans-Bold';
    src: url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Bold.woff2') format('woff2'),
         url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TMSans-Black';
    src: url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Black.woff2') format('woff2'),
         url('https://cdn.ontourmedia.io/fanfire/fonts/TMSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


