@import "theme/all-base-themes";
@import "theme-stores/SMEFCP/theme-shawnmendes";
@import "base/all-base";
@import "layout/all-layouts";
@import "modules/all-modules";
@import "state/all-states";


//==========================================================================//
// CSS Grid:
//==========================================================================//
button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

h3 {
  color: tomato;
}

.l-siteContainerGrid {
  display: grid;
  grid-gap: 20px;
}

.l-siteTop {
  background: tomato;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "section__hero section__hero pricePanel--tourOne"
    "section__hero section__hero pricePanel--tourTwo"
}

.section__hero {
  grid-area: section__hero;
  min-height: 400px;
  background: white url(../images/site-album-compass.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pricePanel {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.pricePanel p {
  margin: 0;
}

.pricePanel--tourOne {
  grid-area: pricePanel--tourOne;
}

.pricePanel--tourTwo {
  grid-area: pricePanel--tourTwo;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

/* Navigation */

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: tomato;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="menu-list"] {
  display: none;
}

/* activities! */

.activities {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.activity {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.activity .icon {
  font-size: 50px;
}
.activity p {
  color: rgba(0,0,0,0.5);
}

.infoPanel {
  background: #fff;
  padding: 50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;

  .infoPanel__details {
    padding: 50px;

    h2, p {
      color: rgb(39, 35, 35);
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.siteGallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  img {
    width: 100%;
  }

  h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  h2:before, h2:after {
    display: block;
    content: '';
    height: 10px;
  }
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}

@media (max-width: 700px) {
  .l-siteTop  {
    grid-template-areas:
      "section__hero section__hero"
      "pricePanel--tourOne pricePanel--tourTwo"
  }

  .infoPanel {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .l-siteTop  {
    grid-template-areas:
      "section__hero"
      "pricePanel--tourOne"
      "pricePanel--tourTwo"
  }
}
