@import "theme/all-base-themes";
@import "base/all-base";
@import "layout/all-layouts";
@import "modules/all-modules";
@import "state/all-states";

.widgetContainer {
  margin: 5px auto;
  border: 1px solid #000;
  max-width: 450px;

  .searchContainer {
    margin: 5px;
    border: 1px solid yellow;

    .searchInputGroups {
      margin: 5px;
      // background: tomato;
      border: 1px solid red;

      display: flex;
      flex-direction: column;
      align-items: stretch;

      .inputGroup, .buttonGroup, .messagePanel {
        margin: 5px;
        border: 1px solid blue;

        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          // background: tomato;

          flex-basis: 66%;
        }
      }

      .buttonGroup {
        justify-content: center;
      }
    }
  }
}
